/* Generic */
html, body {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 18px; }

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: rgba(22, 160, 133, 0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(26, 188, 156, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(26, 188, 156, 0.6); }

label {
  font-weight: normal; }

/* Navbar */
.navbar {
  background: #1abc9c;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  height: 40px; }
  .navbar li a {
    color: #fff;
    font-weight: 500; }
    .navbar li a:hover {
      background: #16a085; }
    .navbar li a.active {
      background: #ef8b80; }

.header {
  border-bottom: 1px solid #1abc9c;
  padding: 80px 0 10px; }
  .header .btn {
    float: right;
    margin-top: 14px; }

h1 {
  font-size: 42px;
  color: #1abc9c; }

.h1-btn {
  margin: 15px 0; }

/* Nav */
.focus-sidebar {
  font-size: 16px;
  margin-top: 15px;
  padding: 0; }
  .focus-sidebar .focus-nav {
    background: #ef8b80;
    border-radius: 5px;
    padding: 0; }
    .focus-sidebar .focus-nav li:first-child a {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .focus-sidebar .focus-nav li:last-child a {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
    .focus-sidebar .focus-nav li a {
      color: #fff;
      padding: 15px 10px; }
      .focus-sidebar .focus-nav li a:hover {
        background: #f29f97; }

/* Pagination */
.pagination.center,
.pagination.center ul {
  float: left;
  position: relative; }

.pagination.center {
  left: 50%; }

.pagination.center ul {
  left: -50%; }

/* Tables */
.table {
  color: #555; }
  .table > thead {
    font-variant: small-caps;
    text-transform: lowercase;
    color: #a9a9a9; }
  .table > tbody:not(.calendar) tr td {
    position: relative; }
    .table > tbody:not(.calendar) tr td.flex {
      display: -webkit-box;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -webkit-align-content: stretch;
      -webkit-box-align: start;
      -webkit-align-items: flex-start; }
      .table > tbody:not(.calendar) tr td.flex select {
        margin-right: 42px;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -webkit-box-flex: 2;
        -webkit-flex: 2 1 auto;
        -webkit-align-self: stretch; }
      .table > tbody:not(.calendar) tr td.flex i {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
        -webkit-align-self: auto; }
    .table > tbody:not(.calendar) tr td:first-child {
      vertical-align: middle;
      width: 200px; }
    .table > tbody:not(.calendar) tr td a {
      display: block;
      color: inherit;
      height: 100%;
      width: 100%; }
      .table > tbody:not(.calendar) tr td a:hover {
        text-decoration: none; }
    .table > tbody:not(.calendar) tr td input, .table > tbody:not(.calendar) tr td select {
      margin-bottom: 0;
      font-size: 18px !important;
      padding-top: 10px !important; }
    .table > tbody:not(.calendar) tr td span.label {
      font-variant: small-caps;
      padding-bottom: 3px;
      font-size: 12.844px;
      margin-left: 10px; }
    .table > tbody:not(.calendar) tr td strong {
      vertical-align: middle; }
    .table > tbody:not(.calendar) tr td .btn {
      color: #fff; }
    .table > tbody:not(.calendar) tr td .input-group {
      border-collapse: separate; }
  .table > tbody:not(.calendar) tr:hover td a:not(.btn) {
    color: #1abc9c; }
  .table > tbody.calendar {
    border: 0; }
  .table .glyphicon {
    color: #1abc9c;
    margin-top: -8px;
    position: absolute;
    right: 18px;
    top: 50%; }

.table.table-paddingless > tr td {
  padding: 0; }

.table.table-paddingless > tr td a {
  padding: 8px; }

.table.table-edit > tbody tr td:first-child {
  line-height: 30px; }

.table > tr td {
  vertical-align: middle; }

.table > tr td label {
  font-weight: normal;
  margin-bottom: 0; }

#mapbox .leaflet-control-zoom a {
  display: inherit;
  height: 19px;
  width: 19px; }

.table > tr td a:hover {
  text-decoration: none; }

.table > tr td.name {
  min-width: 160px; }

.table > tr td.venue_name {
  min-width: 350px; }

.table > tr td.address {
  width: 300px; }

.table > textarea {
  height: 100px; }

#mapbox {
  height: 300px; }

#mapbox img {
  max-width: none; }

#mapbox label {
  width: auto;
  display: inline; }

#mapbox .leaflet-control-attribution {
  display: none; }

.add-timeslot-btn {
  float: right; }

.focus-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0; }

.focus-sidenav > li > a {
  border: 1px solid #E5E5E5;
  padding: 8px 14px;
  margin: 0 0 -1px;
  width: 190px 9;
  display: block; }

.focus-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25; }
