{% extends 'base.html' %}

{% load url from future %}

{% block title %}/ {% if v %}{{ v.topic }}{% else %}Create{% endif %}{% endblock %}

{% block content %}
    <div class="header row">
        {% if v %}
            <h1 class="col col-lg-8">Editing {{ v.name }}</h1>
        {% else %}
            <h1 class="col col-lg-8">Add new venue</h1>
        {% endif %}
        <a class="btn btn-primary btn-large btn-save">Save</a>
    </div>

    <form action="{% if v %}{% url 'groups.views.edit_venue' v.id %}{% else %}{% url 'groups.views.create_venue' %}{% endif %}" id="save_venue" method="post">
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <td colspan="2"><strong>Venue Information</strong></td>
                </tr>
            </thead>
            <tr>
                <td>Name</td>
                <td>{{ form.name }}<i class="glyphicon glyphicon-exclamation-sign"></td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td>{{ form.phone }}<i class="glyphicon glyphicon-exclamation-sign"></td>
            </tr>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <td colspan="2"><strong>Location</strong></td>
                </tr>
            </thead>
            <tr>
                <td>Address</td>
                <td>{{ form.address }}<i class="glyphicon glyphicon-exclamation-sign"></td>
            </tr>
            <tr>
                <td>Cross streets</td>
                <td>{{ form.cross_st }}</td>
            </tr>
            <tr>
                <td>City</td>
                <td>{{ form.city }}<i class="glyphicon glyphicon-exclamation-sign"></td>
            </tr>
            <tr>
                <td>State</td>
                <td class="flex">{{ form.state }}<i class="glyphicon glyphicon-exclamation-sign"></td>
            </tr>
            <tr>
                <td>Zip Code</td>
                <td>{{ form.zip_code }}<i class="glyphicon glyphicon-exclamation-sign"></td>
            </tr>

        </table>
    </form>
{% endblock %}