{% extends 'base.html' %}

{% load url from future %}

{% block title %} / Groups{% endblock %}

{% block content %}
    <div class="row-fluid">
        <h1 class="span8">All Groups</h1>
        <a class="btn btn-primary span3 offset1 h1-btn add-study-btn" href="{% url 'groups.views.create_study' %}">
            <i class="icon-plus-sign icon-white"></i>&nbsp;Add a group
        </a>
    </div>

    <table class="table table-striped table-bordered table-hover table-paddingless">
        <thead>
            <tr>
                <td class="topic"><strong>Topic</strong></td>
                <td class="venue"><strong>Venue</strong></td>
                <td class="date span2"><strong>Date</strong></td>
            </tr>
        </thead>
        {% for study in studies %}
                <tr>
                    <td>
                        <a href="{% url 'groups.views.study' study.id %}">{{ study.topic }}</a>
                    </td>
                    <td>
                        <a href="{% url 'groups.views.study' study.id %}"></a>
                    </td>
                    <td>
                        <a href="{% url 'groups.views.study' study.id %}"></a>
                    </td>
                </tr>
            </a>
        {% endfor %}
    </table>
{% endblock %}