{% extends 'base.html' %}

{% load staticfiles %}
{% load url from future %}

{% block title %}/ {{ g.study }}{% endblock %}

{% block content %}
    <div class="header row">
        <h1 class="col col-lg-8">{{ g.topic }}</h1>
        <a class="btn btn-primary btn-large" href="{% url 'groups.views.edit_study' g.id %}">Edit</a>
    </div>

    <div class="row">
        <div class="col col-lg-3 focus-sidebar">
            <ul class="focus-nav nav affix-top">
                <li class="active">
                    <a href="#info">
                        <span class="glyphicon-chevron-right"></span>
                        Group Information
                    </a>
                </li>
                {% for t in ts %}
                    <li>
                        <a href="#{{ t.id }}">
                            <i class="glyphicon-chevron-right"></i>
                            {{ t.datetime|date:'F j, Y h:i A' }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col col-lg-9">
            <table class="table">
                <thead>
                    <tr>
                        <td colspan="2"><strong>Study Information</strong></td>
                    </tr>
                </thead>
                <tr>
                    <td>Topic</td>
                    <td>{{ g.topic }}</td>
                </tr>
                <tr>
                    <td class="row-fluid" colspan="2"><div id="map"><div id="mapbox"></div></div></td>
                </tr>
                <tr>
                    <td>Venue</td>
                    <td><a href="{# url 'groups.views.venue' g.venue.id #}">{{ g.venue }}</a></td>
                </tr>
            </table>

            <table class="table">
                <thead>
                    <tr>
                        <td colspan="3"><strong>Other Information</strong></td>
                    </tr>
                </thead>
                <tr>
                    <td>Notes</td>
                    <td>{{ g.notes }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link href="{% static "stylesheets/leaflet.css" %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCn9yxcHjsxDYWq3dTH5UZ7MyfleaKY5vA&sensor=false"></script>
    <script src="{% static "javascripts/leaflet.js" %}"></script>
    <script src="{% static "javascripts/wax.leaf.min.js" %}"></script>
    <script src="{% static "javascripts/geo.js" %}"></script>

    <script type="text/javascript">
        {% with v=g.venue %}
        var venue = {
            address : '{{ v.address }}',
            city    : '{{ v.city }}',
            state   : '{{ v.state }}',
            zip     : {{ v.zip_code }},
            compile : function() {
                return this.address + ' ' + this.city + ', ' + this.state + ' ' + this.zip;
            }
        }
        {% endwith %}

        var geocode = codeAddress(venue.compile());
    </script>
{% endblock %}