{% extends 'base.html' %}

{% load url from future %}

{% block title %}/ {% if p %}{{ p.first_name }} {{ p.last_name }}{% else %}Create{% endif %}{% endblock %}

{% block content %}
    <div class="header row">
        {% if p %}
            <h1 class="col col-lg-8">Editing {{ p.first_name }} {{ p.last_name }}</h1>
        {% else %}
            <h1 class="col col-lg-8">Add new person</h1>
        {% endif %}
        <a class="btn btn-primary btn-large" href="{% url 'contacts.views.create' %}">Save</a>
    </div>

    <form action="{% if p %}{% url 'edit' p.id %}{% else %}{% url 'create' %}{% endif %}" method="post">
        {% csrf_token %}
        <table class="table table-edit">
            <thead>
                <tr>
                    <td colspan="2"><strong>Name</strong></td>
                </tr>
            </thead>
            <tr>
                <td><label for="id_{{ form.first_name.html_name }}">First Name</label></td>
                <td>{{ form.first_name }}<i class="glyphicon glyphicon-exclamation-sign"></i></td>
            </tr>
            <tr>
                <td><label for="id_{{ form.last_name.html_name }}">Last Name</label></td>
                <td>{{ form.last_name }}<i class="glyphicon glyphicon-exclamation-sign"></i></td>
            </tr>
        </table>
        <table class="table table-edit">
            <thead>
                <tr>
                    <td colspan="2"><strong>Personal Information</strong></td>
                </tr>
            </thead>
            <tr>
                <td><label for="id_{{ form.birthdate.html_name }}">Birthdate</label></td>
                <td>{{ form.birthdate }}<i class="glyphicon glyphicon-exclamation-sign"></i></td>
            </tr>
            <tr>
                <td><label for="id_{{ form.gender.html_name }}">Gender</label></td>
                <td class="flex">{{ form.gender }}<i class="glyphicon glyphicon-exclamation-sign"></i></td>
            </tr>
            <tr>
                <td><label for="id_{{ form.ethnicity.html_name }}">Ethnicity</label></td>
                <td class="flex">{{ form.ethnicity }}<i class="glyphicon glyphicon-exclamation-sign"></i></td>
            </tr>
        </table>
        <table class="table table-edit">
            <thead>
                <tr>
                    <td colspan="2"><strong>Work Information</strong></td>
                </tr>
            </thead>
            <tr>
                <td><label for="id_{{ form.employer.html_name }}">Employer</label></td>
                <td>{{ form.employer }}</td>
            </tr>
            <tr>
                <td><label for="id_{{ form.occupation.html_name }}">Occupation</label></td>
                <td>{{ form.occupation }}<i class="glyphicon glyphicon-exclamation-sign"></i></td>
            </tr>
        </table>
        <table class="table table-edit">
            <thead>
                <tr>
                    <td colspan="2"><strong>Contact Information</strong></td>
                </tr>
            </thead>
            <tr>
                <td><label for="id_{{ form.email.html_name }}">Email Address</label></td>
                <td>{{ form.email }}</td>
            </tr>
            <tr>
                <td><label for="id_{{ form.home_phone_no.html_name }}">Home Phone</label></td>
                <td>
                    {{ form.home_phone_no }}
                </td>
            </tr>
            <tr>
                <td><label for="id_{{ form.cell_phone_no.html_name }}">Cell Phone</label></td>
                <td class="flex">
                    {{ form.mobile_phone_no }}<i class="glyphicon glyphicon-exclamation-sign"></i>
                </td>
            </tr>
            <tr>
                <td><label for="id_{{ form.work_phone_no.html_name }}">Work Phone</label></td>
                <td>
                    {{ form.work_phone_no }}
                </td>
            </tr>
        </table>
        <table class="table table-edit">
            <thead>
                <tr>
                    <td colspan="2"><strong>Residential Information</strong></td>
                </tr>
            </thead>
            <tr>
                <td><label for="id_{{ form.city.html_name }}">City</label></td>
                <td>{{ form.city }}<i class="glyphicon glyphicon-exclamation-sign"></i></td>
            </tr>
            <tr>
                <td><label for="id_{{ form.state.html_name }}">State</label></td>
                <td class="flex">{{ form.state }}<i class="glyphicon glyphicon-exclamation-sign"></i></td>
            </tr>
        </table>
        <table class="table table-edit">
            <thead>
                <tr>
                    <td colspan="2"><strong>Cell Phone Information</strong></td>
                </tr>
            </thead>
            <tr>
                <td><label for="id_{{ form.cell_provider.html_name }}">Cell Phone Provider</label></td>
                <td>{{ form.cell_provider }}</td>
            </tr>
            <tr>
                <td><label for="id_{{ form.cell_make.html_name }}">Cell Phone Make</label></td>
                <td>{{ form.cell_make }}</td>
            </tr>
            <tr>
                <td><label for="id_{{ form.cell_model.html_name }}">Cell Phone Model</label></td>
                <td>{{ form.cell_model }}</td>
            </tr>
        </table>
        <table class="table table-edit">
            <thead>
                <tr>
                    <td colspan="2"><strong>Car Information</strong></td>
                </tr>
            </thead>
            <tr>
                <td><label for="id_{{ form.car_make.html_name }}">Car Make</label></td>
                <td>{{ form.car_make }}</td>
            </tr>
            <tr>
                <td><label for="id_{{ form.car_model.html_name }}">Car Model</label></td>
                <td>{{ form.car_model }}</td>
            </tr>
            <tr>
                <td><label for="id_{{ form.car_year.html_name }}">Car Year</label></td>
                <td>{{ form.car_year }}</td>
            </tr>
        </table>
        <table class="table hidden">
            <thead>
                <tr>
                    <td colspan="2"><strong>Sourcing Information</strong></td>
                </tr>
            </thead>
            <tr>
                <td><label for="id_{{ form.add_method.html_name }}">Method</label></td>
                <td>{{ form.add_method }}</td>
            </tr>
        </table>
    </form>
    <a class="btn btn-primary btn-large" href="{% url 'contacts.views.create' %}">Save</a>
{% endblock %}