{% extends 'base.html' %}

{% block title %}/ {% if p %}{{ p.first_name }} {{ p.last_name }}{% else %}Create{% endif %}{% endblock %}

{% block content %}
    <div class="row-fluid">
        {% if p %}
            <h1 class="span8">Editing {{ p.first_name }} {{ p.last_name }}</h1>
        {% else %}
            <h1 class="span8">Add new person</h1>
        {% endif %}
        <a class="btn btn-primary span2 offset2 h1-btn save-btn visible-desktop visible-tablet">Save</a>
    </div>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <td colspan="2"><strong>Name</strong></td>
            </tr>
        </thead>
        <tr>
            <td>First Name</td>
            <td>{{ form.first_name }}</td>
        <tr>
            <td>Last Name</td>
            <td>{{ form.last_name }}</td>
        </tr>
    </table>


    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <td colspan="2"><strong>Personal Information</strong></td>
            </tr>
        </thead>
        <tr>
            <td>Birthdate</td>
            <td>{{ form.birthdate }}</td>
        <tr>
            <td>Gender</td>
            <td>{{ form.gender }}</td>
        </tr>
        <tr>
            <td>Ethnicity</td>
            <td>{{ form.ethnicity }}</td>
        </tr>
    </table>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <td colspan="2"><strong>Work Information</strong></td>
            </tr>
        </thead>
        <tr>
            <td>Employer</td>
            <td>{{ form.employer }}</td>
        <tr>
            <td>Occupation</td>
            <td>{{ form.occupation }}</td>
        </tr>
    </table>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <td colspan="2"><strong>Contact Information</strong></td>
            </tr>
        </thead>
        <tr>
            <td>Email Address</td>
            <td>{{ form.email }}</td>
        </tr>
        <tr>
            <td>Home Phone</td>
            <td>
                {{ form.home_phone_no }}
            </td>
        </tr>
        <tr>
            <td>Cell Phone</td>
            <td>
                {{ form.mobile_phone_no }}
            </td>
        </tr>
        <tr>
            <td>Work Phone</td>
            <td>
                {{ form.work_phone_no }}
            </td>
        </tr>
    </table>

     <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <td colspan="2"><strong>Cell Phone Information</strong></td>
            </tr>
        </thead>
        <tr>
            <td>Cell Phone Provider</td>
            <td>{{ form.cell_provider }}</td>
        </tr>
        <tr>
            <td>Cell Phone Make</td>
            <td>{{ form.cell_make }}</td>
        </tr>
        <tr>
            <td>Cell Phone Model</td>
            <td>{{ form.cell_model }}</td>
        </tr>
    </table>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <td colspan="2"><strong>Car Information</strong></td>
            </tr>
        </thead>
        <tr>
            <td>Car Make</td>
            <td>{{ form.car_make }}</td>
        </tr>
        <tr>
            <td>Car Model</td>
            <td>{{ form.car_model }}</td>
        </tr>
        <tr>
            <td>Car Year</td>
            <td>{{ form.car_year }}</td>
        </tr>
    </table>
    <a class="btn btn-primary span2 offset2 h1-btn save-btn visible-phone">Save</a>
{% endblock %}