.h1-btn {
    margin: 15px 0;
}

.h1-btn.visible-phone {
    margin-bottom: 20px;
}

.table.table-paddingless > tr td {
    padding: 0;
}

.table.table-paddingless > tr td a {
    padding: 8px;
}

.table tr td:first-child {
    width: 140px;
}

.table.table-edit > tbody tr td:first-child {
    line-height: 30px;
}

.table tr td a {
    display: block;
    color: black;
    height: 100%;
    width: 100%;
}

.table tr td a:hover {
    text-decoration: none;
}

.table tr td.name {
    min-width: 160px;
}

.table tr td.venue_name {
    min-width: 220px;
}

.table input,
.table select {
    margin-bottom: 0;
}

.table textarea {
    height: 100px;
}

.table tr td span.label {
    font-variant: small-caps;
    padding-bottom: 3px;
    font-size: 12.844px;
    margin-left: 10px;
}

#mapbox {
    height: 300px;
}

#mapbox img {
    max-width: none;
}

#mapbox label {
    width: auto;
    display: inline;
}

#mapbox .leaflet-control-attribution {
    display: none;
}